.idea/
__pycache__/
*.pyc
output/
output_sd_base/
outputs/
*.zip
timed
# model weights
weight/
*.pt
*.bin
wandb/
# 屏蔽数据集和标注文件
data/
datasets/

# 屏蔽下载的本地大模型权重
models/
*.safetensors
*.bin
*.pth

# 屏蔽训练日志和后台作业脚本
*.log
*.err
submit.sh

# 屏蔽 Python 编译缓存
__pycache__/
*.pyc
